.footer {
  position: relative;
  background: #0a0a0a;
  padding: 50px 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
  overflow: hidden;
  border-top: 4px solid #ffcc00;
}

/* Footer content */
.footer-left,
.footer-right {
  position: relative;
  z-index: 2;
}

.footer-left{
  justify-content: flex-start;
}
.footer-right{
  justify-content: flex-end;
}


.footer-left h4 {
  font-size: 1.4rem;
  color: #ffcc00;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 0.9rem;
  margin-bottom: 14px;
}

.social-icons {
  display: flex;
  gap: 12px;
  align-items: center;
  
}

.social-icons a {
  color: white;
  font-size: 1.3rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ffcc00;
  transform: scale(1.15);
}

.footer-right a {
  display: block;
  margin-bottom: 12px;
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.footer-right a:hover {
  text-shadow: 0 0 10px #ffcc00;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .footer-right a {
    display: inline-block;
    margin: 0 12px;
  }
  .social-icons{
    justify-content: center;
  }
}